/* основной цвет заголовков #212121 */
/* основной цвет параграфов #757575 */
/* цвет контактов хедер #757575 */
/* цвет ховер и фокус контактов хедер #2196F3 */
/* цвет клавиш навигации #212121 */
/* цвет ховер и фокус клавиш навигации #2196F3 */
/* цвет главного заголовка #FFFFFF */
/* цвет текста клавиши заказать услугу #FFFFFF */
/* цвет фона клавиши заказать услугу #2196F3 */
/* цвет фона ховер и фокус клавиши заказать услугу #188CE8 */
/* цвет ссылки адресс в футере #FFFFFF */
/* цвет контактов футер #FFFFFF99 */
/* цвет ховер и фокус контактов футер #2196F3 */
/* цвет фона основной #F5F4FA */
/* цвет фона хедер #FFFFFF */
/* Цвет фона вторичный #2F303A */
/* цвет фона футер #2F303A */

:root {
    --accent-color: #2196F3;
}  

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.body {
    background-color: #F5F4FA;
    color: #757575;
    font-family: Roboto, sans-serif;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}

.header-logo {
    color: #212121;
}

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color:  var(--accent-color);
}

.contact-header {
    color: #757575;
}

.contact-header:hover,
.contact-header:focus {
    color:  var(--accent-color);
}

.hero {
    background-color: #2F303A;
}

.main-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.main-order-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color:#FFFFFF;
    background-color:  var(--accent-color);
}

.main-order-btn:hover,
.main-order-btn:focus {
    color:#FFFFFF;
    background-color: #188CE8;
}

.head-description {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
        
    color: #212121;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

/* start footer */

.footer {
    background-color: #2F303A;
}

.footer-logo {
    color: #ffffff;
}

.contact-list-location {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #ffffff;
}

.contact-list-location:hover,
.contact-list-location:focus {
    color:  var(--accent-color);
}

.contact-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.contact-footer:hover,
.contact-footer:focus {
    color:  var(--accent-color);
}

